body {
    background-color: #FFFFFF;
    margin: 0px;
}
.top {
    text-align: center;
    color: white;
    margin: auto;
}

.title {
    font-size: 85px;
    font-family: cursive, "Lucida Handwriting", serif;
    background-color: #688D72;
    margin: auto;
}

img {
    margin: auto;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #688D72;
    font-size: 20px;
    padding: 10px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.links :visited {
    color: #d4fadd
}
